.header__main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  height: 75px;
  width: 75px;
  padding-left: 10px;
  cursor: pointer;
}

.new-post {
  cursor: pointer;
}
.header__user{
  padding-right: 10px ;
}

.logedin-dropdown__list{
  background-color: white;
  list-style-type: none;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: 170px;
  right: 0%;
  font-size: 1.5em;
  text-indent: 1em;
}
