.header__main{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  height: 75px;
  width: 75px;
  padding-left: 10px;
  cursor: pointer;
}

.new-post {
  cursor: pointer;
}
.header__user{
  padding-right: 10px ;
}

.logedin-dropdown__list{
  list-style-type: none;
  background-color: red;
/*   display: inline-block; */
  padding-top: 75px;
  position: absolute;
  top: 105px;
  width: 170px;
}

