.header{
  background-color: rgb(199, 199, 199);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  height: 75px;
  width: 75px;
  padding-left: 10px;
  cursor: pointer;
}

.header__user{
  padding-right: 10px ;
}
