hr {
  width: 50%;
  position:relative;
  left: 25%;
}

.user__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.user__tab:hover{
  background-color: grey;
}

.user__tab.active {
  background-color: green;
}

